<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DMData Quake Node Server - 受信した緊急地震速報一覧</title>
    <style>
      body {
        font-family: "Yu Gothic Medium", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", "Source Han Sans JP", "sans-serif";
        margin: 0;
        padding: 0;
      }
      header {
        background-color: #d0d0d0;
        color: #424242;
        padding: 0.5rem;
        text-align: center;
      }
      h1 {
        margin: 0;
        font-size: 1.5rem;
      }
      main {
        display: flex;
        padding: 0;
      }
      #event-list {
        width: 30%;
        border-right: 2px solid #9b9b9b;
        padding-right: 1rem;
      }
      #event-selected {
        width: 70%;
        padding-left: 1rem;
      }
      .event-item {
        cursor: pointer;
        padding: 0.5rem;
        border-bottom: 1px solid #ccc;
      }
      .event-item:hover {
        background-color: #f0f0f0;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>DMData Quake Node Server - 受信した緊急地震速報一覧</h1>
    </header>
    <main>
      <div id="event-list">
        <!-- 受信した緊急地震速報（Event ID 別）（サンプル） -->
        <div class="event-item">
          <div class="event-header">ID 20240601123456 - Report No. 12</div>
          <div class="event-content">

          </div>
          <div class="event-footer">受信日時: 2024/06/01 12:34:56</div>
        </div>
      </div>
      <div id="event-selected">
        <!-- 選択したイベント -->
        <div id="event-reports">
          <!-- 選択したイベントについて受信した情報一覧 -->
        </div>
        <div id="report-detail">
          <!-- 選択した情報の詳細 -->
        </div>
      </div>
    </main>
    <script>

    </script>
  </body>
</html>
